.logo{
    float: left;
    background-color: aqua;
    margin: 20px;
    padding: 12px;
    line-height: 25px;
}
.header{
    width: 70%;
    margin: 0 auto;
}
.navbar{
    /* clear: both; */
    background-color: gold;
    overflow: hidden;
    background-color: black;
    padding: 10px;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}
.navbar a:hover {
    background-color: #e1f738;
    color: black;
  }
  
/* Style the active/current link*/
.navbar a.active {
    background-color: #e1f738;
    color: black;
}