* {
  margin:0;
  padding:0;
}
body {
  font-size:62.5%;
  background:#f8f8f8;
  color:white;
  font-family: Helvetica;
}
.content {
  max-width: 960px;
  margin:0 auto;
  font-size:2.5em;
}

h1 {
  color:#f60;
  text-align: center;
  margin: 0.25em auto;
  font-size:2em;
}
header{
  background-color: #e1f738;
  min-height: 90px;
  margin: 0.5em auto;
  color: black;
  padding: 0.25em;
  text-align: center;
}
header .shoppingCart{
  float: right;
  background-color: #232323;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
header .shoppingCart span{
  margin-left: 6px;
}
.navbar{
  background-color: gold;
  overflow: hidden;
  background-color: #121212;
  padding: 10px;
}
.navbar a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}
.navbar a:hover {
  background-color: #e1f738;
  color: black;
}

/* Style the active/current link*/
.navbar a.active {
  background-color: #e1f738;
  color: black;
}

nav,
footer {
  background-color: #e1f738;
  margin: 0.5em auto;
  padding: 0.25em;
  text-align: center;
  color: black;
}
#content {
  margin: 0 auto;
  
  padding: 0;
  text-align: justify;
}
#principal{
  background-color: #121212;
  float: right;
  margin: 0 auto;
  min-height: 200px;
  padding: .25em 0;
}
#principal .detalle{
  margin: 6px;
}
#principal .detalle .mensajeError{
  color: red;
}
aside {
  background-color: #121212;
  display: inline-block;
  margin: 0 auto;
  min-height: 200px;
  padding: .25em 0;
  text-align: justify;
  vertical-align: top;
  width: 100%;
}
aside {
  margin-top:0.5em;
}

.btn{
  background-color: #e1f738;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  border-radius: 1px;
  border: none;
  margin: 6px;
}
.btn:hover{
  background-color: #ffffff;
}

/* MEDIA QUERY */
@media screen and (min-width: 44em) {
  h1 {
    font-size:5em;
  }
  #principal {
    width: 70%;
  }
  aside {
    width: 29%;
    margin-top:0;
  }
}