* {
  margin:0;
  padding:0;
}
body {
  font-size:62.5%;
  background:#f8f8f8;
  color:white;
  font-family: Helvetica;
}
.content {
  max-width: 960px;
  margin:0 auto;
  font-size:2.5em;
}

h1 {
  color:#f60;
  text-align: center;
  margin: 0.25em auto;
  font-size:2em;
}
header{
  background-color: #e1f738;
  min-height: 90px;
  margin: 0.5em auto;
  color: black;
  padding: 0.25em;
  text-align: center;
}
header .shoppingCart{
  float: right;
  background-color: #232323;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
header .shoppingCart span{
  margin-left: 6px;
}
.navbar{
  background-color: gold;
  overflow: hidden;
  background-color: #121212;
  padding: 10px;
}
.navbar a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}
.navbar a:hover {
  background-color: #e1f738;
  color: black;
}

/* Style the active/current link*/
.navbar a.active {
  background-color: #e1f738;
  color: black;
}

nav,
footer {
  background-color: #e1f738;
  margin: 0.5em auto;
  padding: 0.25em;
  text-align: center;
  color: black;
}
#content {
  margin: 0 auto;
  padding: 0;
  text-align: justify;
  display: flex;
}
#principal{
  background-color: #121212;
  float: right;
  margin: 0 auto;
  min-height: 200px;
  padding: .25em 0;
}

#principal .card{
  float: left;
  width: 31%;
  margin: 1%;
  min-height: 256px;
  background-color: white;
  border-radius: 2px;
  border: solid 1px #cacaca
}
#principal .card .id{
  position: absolute;
  background-color: #cacaca;
  font-size: 12px;
  color: black;
  height: 20px;
  width: auto;
  padding: 1px;
  text-align: center;
}
#principal .card .image{
  background-color: white;
  padding-top: 20px;
  height: 120px;
  text-align: center;
}
#principal .card .titulo{
  color: #232323;
  padding: 0px 10px;
  min-height: 50px;
  font-size: 12px;
}
#principal .card .precio{
  color: #232323;
  padding: 0px 10px;
  font-size: 12px;
  min-height: 20px;
  font-weight: bold;
}
#principal .card button{
  clear: both;
  display: block;
  margin: 6px 10px;
   width:100px;
   bottom:0px;
   background-color: #e1f738;
   color: black;
   border: none;
   padding: 10px;
   width: 90%;
   transition: 0.3s;
}
#principal .card button:hover {
  background-color: #ddd;
  color: black;
}

#principal .detalle{
  margin: 6px;
}
#principal .detalle .mensajeError{
  color: red;
}
aside {
  background-color: #121212;
  display: inline-block;
  margin: 0 auto;
  min-height: 200px;
  padding: .25em 0;
  text-align: justify;
  vertical-align: top;
  width: 100%;
}
aside ul {
  margin: 0px 10px;
  font-size: 14px;
}

aside ul li {
  text-align: left;
  line-height: 1.5;
  padding: 4px;
  cursor: pointer;
}
aside ul li.active {
  line-height: 1.5;
  background-color: #e1f738;
  color: black;
}
aside ul li:hover {
  line-height: 1.5;
  background-color: #e1f738;
  color: black;
}

.btn{
  background-color: #e1f738;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  border-radius: 1px;
  border: none;
  margin: 6px;
}
.btn:hover{
  background-color: #ffffff;
}

/* MEDIA QUERY */
@media screen and (min-width: 44em) {
  h1 {
    font-size:5em;
  }
  #principal {
    width: 70%;
  }
  aside {
    width: 29%;
    margin-top:0;
  }
}